p{
	font-family: arial, helvetica, sans-serif;
	text-decoration: none;
	font-size: 15px;
	font-weight: normal;
	color: black;	
}

*{
    margin:0px;
}

span.bold{
	font-weight: bold;
	font-size: 17px;
	padding-right: 20px;
}

h1, h2{
    font-family: arial, helvetica, sans-serif;
    color: white;
}

.whole{
    width: 80%;
    height: 100%;
    margin: auto;
}

.img-circle {
    border-radius: 50%;
    width:100%; 
    height: auto;
    background-color: #3a3a3a;
    border: 1px solid #000000;
}
.left{
    float: left;
    width: 20%;
    padding:2%;
}

.right{
    float: left;
    overflow: hidden;
    width: 70%;
    height: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

ul.profile{
    list-style-type: none;
    padding: 10px;
    width: 100%;
    background-color: #f1f1f1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

li.pdetail{
    font-size: 14px;
    display: block;
    color: #000;
    padding: 8px;
    text-decoration: none;
    border-bottom: 1px solid;
    font-family: arial, helvetica, sans-serif;
}

ul.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

li.nav{
    float: left;
    padding-left: 50px;
}

li.nav a {
    font-family: arial, helvetica, sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover {
	color: black;
    background-color: white;
    font-weight: bold;
}

.icontainer{
	background-color: white;
    margin-left: 10%;
    display: inline-block;
    width: 70%;
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}